@model MEInsight.Entities.Core.SchoolEnrollment

@{
    ViewData["Title"] = @Localizer["SchoolEnrollment"].Value + " " + @Localizer["Details"].Value;
}

<h2>@Localizer["Details"]</h2>

<div>
    <h4>SchoolEnrollment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Male)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Male)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Female)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Female)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisabledMale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisabledMale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisabledFemale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisabledFemale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schools)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schools.OrganizationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolPeriods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolPeriods.PeriodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipantTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticipantTypes.ParticipantType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeLevels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeLevels.GradeLevel)
        </dd>
    </dl>

    <hr />
    <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Model.CreatedDate?.ToLocalTime().ToString()
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>
            <dd class="col-sm-10">
                @Model.ModifiedDate?.ToLocalTime().ToString()
            </dd>
    </dl>


</div>
<div>
        <!--footer buttons start-->
        <div class="row mt-5">
            <div class="col">
                <a asp-action="Index" asp-route-id="@ViewBag.ParentId" class="btn btn-secondary mr-1"><i class="fas fa-chevron-left"></i> @Localizer["Back to List"]</a>
                <a policy="RequireEditRole" asp-action="Edit" asp-route-id="@Model.SchoolEnrollmentId" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> @Localizer["Edit"]</a>
            </div>
            <div class="col text-right"></div>
        </div>
        <!--footer buttons end-->
</div>
