@model MEInsight.Entities.Core.Student

@{
    ViewData["Title"] = @Localizer["Create"].Value + " " + @Localizer["Student"].Value;
}

<h2>@Localizer["Create"]</h2>

<h4>@Localizer["Student"]</h4>
<hr />
<div class="row">
    <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
        <form asp-action="Create" id="main-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="ParentId" value="@ViewBag.ParentId" />
            <div class="mb-3" asp-enabled="StudentCode">
                <!--input start-->
                <label asp-for="StudentCode" class="form-label"></label>
                <input asp-for="StudentCode" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="StudentCode" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="RefStudentTypeId">
                <!--fk select start-->
                <label asp-for="RefStudentTypeId" class="form-label"></label>
                <select asp-for="RefStudentTypeId" class="form-select" asp-items="ViewBag.RefStudentTypeId">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for="RefStudentTypeId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <div class="mb-3" asp-enabled="RefStudentSpecializationId">
                <!--fk select start-->
                <label asp-for="RefStudentSpecializationId" class="form-label"></label>
                <select asp-for="RefStudentSpecializationId" class="form-select" asp-items="ViewBag.RefStudentSpecializationId">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for="RefStudentSpecializationId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <div class="mb-3" asp-enabled="ParentGuardian">
                <!--input start-->
                <label asp-for="ParentGuardian" class="form-label"></label>
                <input asp-for="ParentGuardian" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="ParentGuardian" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="RefStudentYearOfStudyId">
                <!--fk select start-->
                <label asp-for="RefStudentYearOfStudyId" class="form-label"></label>
                <select asp-for="RefStudentYearOfStudyId" class="form-select" asp-items="ViewBag.RefStudentYearOfStudyId">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for="RefStudentYearOfStudyId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <div class="mb-3" asp-enabled="RegistrationDate">
                <!--date start-->
                <!-- use class .date to enable datepicker -->
                <span><label asp-for="RegistrationDate" class="form-label"></label> <span class="text-muted small">(@System.Globalization.CultureInfo.CurrentUICulture)</span></span>
                <div class="input-group date">
                    <input asp-for="RegistrationDate" autocomplete="off" type="text" class="form-control" placeholder="@System.Globalization.DateTimeFormatInfo.CurrentInfo.ShortDatePattern" />
                    <span class="input-group-text input-group-addon"><i class="far fa-calendar-alt"></i></span>
                </div>
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                <!--date end-->
            </div>
            
            <div class="mb-3" asp-enabled="OrganizationId">
                <!--fk select start-->
                <label asp-for="OrganizationId" class="form-label"></label>
                <select asp-for="OrganizationId" class="form-select" asp-items="ViewBag.OrganizationId">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for="OrganizationId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <div class="mb-3" asp-enabled="RefParticipantTypeId">
                <!--fk select start-->
                <label asp-for="RefParticipantTypeId" class="form-label"></label>
                <select asp-for="RefParticipantTypeId" class="form-select" asp-items="ViewBag.RefParticipantTypeId">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for="RefParticipantTypeId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <div class="mb-3" asp-enabled="RefParticipantCohortId">
                <!--fk select start-->
                <label asp-for="RefParticipantCohortId" class="form-label"></label>
                <select asp-for="RefParticipantCohortId" class="form-select" asp-items="ViewBag.RefParticipantCohortId">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for="RefParticipantCohortId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <div class="mb-3" asp-enabled="ParticipantCode">
                <!--input start-->
                <label asp-for="ParticipantCode" class="form-label"></label>
                <input asp-for="ParticipantCode" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="ParticipantCode" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="FirstName">
                <!--input start-->
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="MiddleName">
                <!--input start-->
                <label asp-for="MiddleName" class="form-label"></label>
                <input asp-for="MiddleName" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="LastName">
                <!--input start-->
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="LastName" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="RefSexId">
                <!--fk select start-->
                <label asp-for="RefSexId" class="form-label"></label>
                <select asp-for="RefSexId" class="form-select" asp-items="ViewBag.RefSexId">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for="RefSexId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <div class="mb-3" asp-enabled="BirthDate">
                <!--input start-->
                <label asp-for="BirthDate" class="form-label"></label>
                <input asp-for="BirthDate" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="Age">
                <!--input start-->
                <label asp-for="Age" class="form-label"></label>
                <input asp-for="Age" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="Age" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="Disability">
                <!--input start-->
                <label asp-for="Disability" class="form-label"></label>
                <input asp-for="Disability" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="Disability" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="RefDisabilityTypeId">
                <!--fk select start-->
                <label asp-for="RefDisabilityTypeId" class="form-label"></label>
                <select asp-for="RefDisabilityTypeId" class="form-select" asp-items="ViewBag.RefDisabilityTypeId">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for="RefDisabilityTypeId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <div class="mb-3" asp-enabled="Phone">
                <!--input start-->
                <label asp-for="Phone" class="form-label"></label>
                <input asp-for="Phone" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="Phone" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="Mobile">
                <!--input start-->
                <label asp-for="Mobile" class="form-label"></label>
                <input asp-for="Mobile" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="Email">
                <!--input start-->
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="Facebook">
                <!--input start-->
                <label asp-for="Facebook" class="form-label"></label>
                <input asp-for="Facebook" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="InstantMessenger">
                <!--input start-->
                <label asp-for="InstantMessenger" class="form-label"></label>
                <input asp-for="InstantMessenger" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="InstantMessenger" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="mb-3" asp-enabled="RefLocationId">
                <!--fk select start-->
                <label asp-for="RefLocationId" class="form-label"></label>
                <select asp-for="RefLocationId" class="form-select" asp-items="ViewBag.RefLocationId">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for="RefLocationId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <div class="mb-3" asp-enabled="Address">
                <!--textarea start-->
                <label asp-for="Address" class="form-label"></label>
                <textarea asp-for="Address" class="form-control" placeholder=""></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
                <!--textarea end-->
            </div>
            
            <div class="mb-3" asp-enabled="AdditionalData">
                <!--input start-->
                <label asp-for="AdditionalData" class="form-label"></label>
                <input asp-for="AdditionalData" autocomplete="off" class="form-control" placeholder="" />
                <span asp-validation-for="AdditionalData" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <!-- button group start -->
            <div class="form-group text-right mt-5">
                <a id="cancelbutton" class="btn btn-secondary mr-2" asp-action="Index" asp-route-id="@ViewBag.ParentId">
                    <i class="fas fa-times"></i> @Localizer["Cancel"]
                </a>
                <button id="submitbutton" type="submit" value="Create" class="btn btn-primary">
                    <span class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Loading...</span>
                    <i class="fas fa-check"></i> @Localizer["Create"]    
                </button>
            </div>
            <!-- button group end -->
        </form>
    </div>
</div>


@section Styles {
    @{await Html.RenderPartialAsync("_CreateStylesPartial");}
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CreateScriptsPartial");}
}
