@model MEInsight.Entities.Core.Participant

@{
    ViewData["Title"] = @Localizer["Participant"].Value + " " + @Localizer["Delete"].Value;
}

<h2>@Localizer["Delete"]</h2>

<div>
    <h4>@Localizer["Participant"]</h4>
    <hr />
    @if (ViewBag.hasRelated == true)
    {
            <div class="alert alert-danger border-red-300 shadow-sm" role="alert">
                <i class="fas fa-times-circle me-2"></i> @String.Format(Localizer.GetString("You cannot delete this record. You must first delete {0} related records."), ViewBag.RelatedCount ?? 0)
            </div>
    }
    else
    {
            <div class="alert alert-danger border-red-300 shadow-sm" role="alert">
                <i class="fas fa-times-circle me-2"></i> @Localizer["Are you sure you want to delete this?"]
            </div>
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipantCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParticipantCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstantMessenger)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstantMessenger)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organizations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organizations.OrganizationCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParticipantTypes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParticipantTypes.ParticipantType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sex.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locations.RefLocationId)
        </dd>
    </dl>
    <hr />
    <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Model.CreatedDate?.ToLocalTime().ToString()
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>
            <dd class="col-sm-10">
                @Model.ModifiedDate?.ToLocalTime().ToString()
            </dd>
    </dl>
    
    <form asp-action="Delete" id="main-form">
        <input type="hidden" asp-for="ParticipantId" />
            <!-- button group start -->
            <div class="mb-3 mt-5">
                <a id="cancelbutton" class="btn btn-secondary me-2" asp-action="Index" asp-route-id="@ViewBag.ParentId">
                    <i class="fas fa-times"></i> @Localizer["Cancel"]
                </a>
                @if (ViewBag.hasRelated != true)
                {
                <button id="submitbutton" type="submit" value="Delete" class="btn btn-danger ladda-button" data-style="expand-left" data-spinner-color="white">
                    <span class="ladda-label">
                        <i class="fas fa-check"></i> @Localizer["Delete"]
                    </span>
                </button>
                }
            </div>
            <!-- button group end -->
    </form>
</div>
@section Styles {
    @{await Html.RenderPartialAsync("_DeleteStylesPartial");}
}
@section Scripts {
    @{await Html.RenderPartialAsync("_DeleteScriptsPartial");}
}
