@model MEL.Entities.ViewModels.ParticipantsViewModel

@{
    ViewData["Title"] = @Localizer["Edit"].Value + " " + @Localizer["Participant"].Value;
}

<h2>@Localizer["Edit"]</h2>

<h4>@Localizer["Participant"]</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-8">
        <!--form start-->
        <form asp-action="Edit" id="main-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="ParentId" value="@ViewBag.ParentId" />
            <input type="hidden" asp-for="ParticipantId" />
            <input type="hidden" asp-for="RefParticipantTypeId" value="@ViewBag.RefParticipantTypeId" />
            @*[Remote] Validation to validate user input and verify if the Participant and Student Code already exists.*@
            <input type="hidden" value="@Model.ParticipantCode" name="ParticipantCodeInitialValue" />
            <input type="hidden" value="@Model.StudentCode" name="StudentCodeInitialValue" />
            <input type="hidden" value="@ViewBag.GroupId" name="GroupId" />

            <div class="card mb-3">
                <div class="card-header">
                    @Localizer["Participant"]
                </div>
                <div class="card-body">
                    <div class="form-group required" asp-enabled="RegistrationDate">
                        <!--date start-->
                        <label asp-for="RegistrationDate" class="control-label"></label>
                        <span class="text-muted small">(@System.Globalization.CultureInfo.CurrentUICulture)</span>
                        <!-- use class .date to enable datepicker -->
                        <div class="input-group date">
                            <input asp-for="RegistrationDate" autocomplete="off" type="text" class="form-control" />
                            <span class="input-group-append">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </span>
                        </div>
                        <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                        <!--date end-->
                    </div>

                    <div class="card mb-3" asp-enabled="OrganizationId">
                        <div class="card-header">
                            Organization
                        </div>
                        <div class="card-body">
                            <!--fk tree start-->
                            <div class="input-group input-group-sm">
                                <input type="text" id="tree-search" autocomplete="off" placeholder="@Localizer["Search"]" class="form-control search-input" value="" />
                                <span class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </span>
                            </div>
                            <small><a href="#" id="collapse">@Localizer["collapse"]</a> / <a href="#" id="expand">@Localizer["expand"]</a></small>
                            <div id="tree-container" class="px-3 py-1">
                                <div id="tree" class="mb-5"></div>
                            </div>
                            <input asp-for="OrganizationId" required type="hidden" />
                            <div class="border-top">
                                <span>@Localizer["Selected organization"]: <span id="SelectedOrganizationId"><span class="text-muted">@Localizer["none selected"]</span></span></span>
                            </div>
                            <span asp-validation-for="OrganizationId" class="text-danger"></span>
                            <!--fk tree end-->
                        </div>
                    </div>

                    <div class="form-group required" asp-enabled="RefParticipantCohortId">
                        <!--fk select start-->
                        <label asp-for="RefParticipantCohortId" class="control-label"></label>
                        <select asp-for="RefParticipantCohortId" class="form-control custom-select" asp-items="ViewBag.RefParticipantCohortId">
                            <option disabled selected></option>
                        </select>
                        <span asp-validation-for="RefParticipantCohortId" class="text-danger"></span>
                        <!--fk select end-->
                    </div>

                    <div class="form-group required" asp-enabled="ParticipantCode">
                        <!--input start-->
                        <label asp-for="ParticipantCode" class="control-label"></label>
                        <input asp-for="ParticipantCode" autocomplete="off" class="form-control" />
                        <span asp-validation-for="ParticipantCode" class="text-danger"></span>
                        <!--input end-->
                    </div>

                    <div class="form-group required" asp-enabled="FirstName">
                        <!--input start-->
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" autocomplete="off" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                        <!--input end-->
                    </div>

                    <div class="form-group" asp-enabled="MiddleName">
                        <!--input start-->
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" autocomplete="off" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                        <!--input end-->
                    </div>

                    <div class="form-group required" asp-enabled="LastName">
                        <!--input start-->
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" autocomplete="off" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                        <!--input end-->
                    </div>

                    <div class="form-group required" asp-enabled="RefSexId">
                        <!--fk select start-->
                        <label asp-for="RefSexId" class="control-label"></label>
                        <select asp-for="RefSexId" class="form-control custom-select" asp-items="ViewBag.RefSexId">
                        </select>
                        <span asp-validation-for="RefSexId" class="text-danger"></span>
                        <!--fk select end-->
                    </div>

                    <!--date start-->
                    <label asp-for="BirthDate" class="control-label"></label>
                    <span class="text-muted small">(@System.Globalization.CultureInfo.CurrentUICulture)</span>
                    <!-- use class .date to enable datepicker -->
                    <div class="input-group date birthdate mb-2">
                        <input asp-for="BirthDate" autocomplete="off" type="text" class="form-control" placeholder="@System.Globalization.DateTimeFormatInfo.CurrentInfo.ShortDatePattern" />
                        <span class="input-group-append">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </span>
                    </div>
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                    <!--date end-->

                    <div class="form-group" asp-enabled="Age">
                        <!--input start-->
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" type="number" autocomplete="off" class="form-control" data-val="true" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                        <!--input end-->
                    </div>

                    <div class="card" asp-enabled="DisabilityPanel">
                        <div class="card-body pb-0">
                            <div class="form-group">
                                <label asp-for="Disability" class="control-label"></label>
                                <div class="radio">
                                    <label>@Html.RadioButton("Disability", "true") @Localizer["Yes"]</label>
                                </div>
                                <div class="radio">
                                    <label>@Html.RadioButton("Disability", "false") @Localizer["No"]</label>
                                </div>
                                <span asp-validation-for="Disability" class="text-danger"></span>
                            </div>

                            <div class="form-group disabilityoptions" asp-enabled="RefStudentDisabilityTypeId">
                                <!--fk select start-->
                                <label asp-for="RefDisabilityTypeId" class="control-label"></label>
                                <select asp-for="RefDisabilityTypeId" class="form-control custom-select" asp-items="ViewBag.RefDisabilityTypeId">
                                    <option disabled selected></option>
                                </select>
                                <span asp-validation-for="RefDisabilityTypeId" class="text-danger"></span>
                                <!--fk select end-->
                            </div>

                        </div>
                    </div>

                    <div class="form-group" asp-enabled="Phone">
                        <!--input start-->
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                        <!--input end-->
                    </div>

                    <div class="form-group" asp-enabled="Mobile">
                        <!--input start-->
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                        <!--input end-->
                    </div>

                    <div class="form-group" asp-enabled="Email">
                        <!--input start-->
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <!--input end-->
                    </div>

                    <div class="form-group" asp-enabled="Facebook">
                        <!--input start-->
                        <label asp-for="Facebook" class="control-label"></label>
                        <input asp-for="Facebook" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Facebook" class="text-danger"></span>
                        <!--input end-->
                    </div>

                    <div class="form-group" asp-enabled="InstantMessenger">
                        <!--input start-->
                        <label asp-for="InstantMessenger" class="control-label"></label>
                        <input asp-for="InstantMessenger" autocomplete="off" class="form-control" />
                        <span asp-validation-for="InstantMessenger" class="text-danger"></span>
                        <!--input end-->
                    </div>

                    @*
        RefLocation is a self-referencing table with hierarchical (geo)locations.
        This foreach dynamically generates each required location input by location level
        i.e. Country -> Province -> District or Level1 -> Level2 -> Level 3 (LocationTypes by level)
        Only the last level RefLocationId is saved on this record.
                    *@
                    @{
                        // If RefLocationId is enabled
                        if (Configuration["disabled:Participants:RefLocationId"] != "disabled")
                        {

                            var i = 0;
                            @foreach (var item in ViewData["RefLocationTypes"] as IEnumerable<MEL.Entities.Reference.RefLocationType>)
                            {
                                @if (item.LocationLevel == 1)
                                {
                                    <div class="form-group required">
                                        <label class="control-label">@item.LocationType</label>
                                        <select class="form-control required" data-locationlevel="@item.LocationLevel" id="RefLocation@{@item.LocationLevel}Id" name="RefLocationId[@i]" data-val="true" asp-items="@ViewBag.RefLocationId" required>
                                            <option disabled selected></option>
                                        </select>
                                        <span class="text-danger field-validation-valid" data-valmsg-for="RefLocation@{@item.LocationLevel}Id" data-valmsg-replace="true">

                                        </span>
                                    </div>
                                }
                                else
                                {
                                    if (item.LocationLevel == (int)ViewData["RefLocationTypesCount"])
                                    {
                                        <div class="form-group required">
                                            <label class="control-label">@item.LocationType</label>
                                            <select class="form-control required" data-locationlevel="@item.LocationLevel" id="RefLocation@{@item.LocationLevel}Id" name="RefLocationId[@i]" data-val="true">
                                                <option disabled selected></option>
                                            </select>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="RefLocationId" data-valmsg-replace="true"></span>
                                        </div>
                                    }
                                    else
                                    {
                                        if (item.LocationLevel == 2)
                                        {
                                            <div class="form-group required">
                                                <label class="control-label">@item.LocationType</label>
                                                <select class="form-control required" data-locationlevel="@item.LocationLevel" id="RefLocation@{@item.LocationLevel}Id" name="RefLocationId[@i]" data-val="true" required>
                                                    <option disabled selected></option>
                                                </select>
                                                <span class="text-danger field-validation-valid" data-valmsg-for="RefLocation@{@item.LocationLevel}Id" data-valmsg-replace="true"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group required">
                                                <label class="control-label">@item.LocationType</label>
                                                <select class="form-control required" data-locationlevel="@item.LocationLevel" id="RefLocation@{@item.LocationLevel}Id" name="RefLocationId[@i]" data-val="true">
                                                    <option disabled selected></option>
                                                </select>
                                                <span class="text-danger field-validation-valid" data-valmsg-for="RefLocation@{@item.LocationLevel}Id" data-valmsg-replace="true"></span>
                                            </div>
                                        }
                                    }
                                }
                                i++;
                            }

                        }
                    }

                    <div class="form-group" asp-enabled="Address">
                        <!--textarea start-->
                        <label asp-for="Address" class="control-label"></label>
                        <textarea asp-for="Address" class="form-control"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                        <!--textarea end-->
                    </div>
                </div>
            </div>

            @if (ViewBag.RefParticipantTypeId == 1)
            {
                // Student
                <div class="card mb-3">
                    <div class="card-header">
                        @Localizer["Student"]
                    </div>
                    <div class="card-body">
                        <div class="card mt-3">
                            <div class="card-header">
                                Student
                            </div>
                            <div class="card-body">
                                <div class="form-group" asp-enabled="StudentCode">
                                    <!--input start-->
                                    <label asp-for="StudentCode" class="control-label"></label>
                                    <input asp-for="StudentCode" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="StudentCode" class="text-danger"></span>
                                    <!--input end-->
                                </div>

                                <div class="form-group" asp-enabled="RefStudentTypeId">
                                    <!--fk select start-->
                                    <label asp-for="RefStudentTypeId" class="control-label"></label>
                                    <select asp-for="RefStudentTypeId" class="form-control custom-select" asp-items="ViewBag.RefStudentTypeId">
                                    </select>
                                    <span asp-validation-for="RefStudentTypeId" class="text-danger"></span>
                                    <!--fk select end-->
                                </div>

                                <div class="form-group" asp-enabled="RefStudentSpecializationId">
                                    <!--fk select start-->
                                    <label asp-for="RefStudentSpecializationId" class="control-label"></label>
                                    <select asp-for="RefStudentSpecializationId" class="form-control custom-select" asp-items="ViewBag.RefStudentSpecializationId">
                                    </select>
                                    <span asp-validation-for="RefStudentSpecializationId" class="text-danger"></span>
                                    <!--fk select end-->
                                </div>

                                <div class="form-group" asp-enabled="RefStudentYearOfStudyId">
                                    <!--fk select start-->
                                    <label asp-for="RefStudentYearOfStudyId" class="control-label"></label>
                                    <select asp-for="RefStudentYearOfStudyId" class="form-control custom-select" asp-items="ViewBag.RefStudentYearOfStudyId">
                                    </select>
                                    <span asp-validation-for="RefStudentYearOfStudyId" class="text-danger"></span>
                                    <!--fk select end-->
                                </div>

                                <div class="form-group" asp-enabled="ParentGuardian">
                                    <!--input start-->
                                    <label asp-for="ParentGuardian" class="control-label"></label>
                                    <input asp-for="ParentGuardian" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="ParentGuardian" class="text-danger"></span>
                                    <!--input end-->
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            }

            @if (ViewBag.RefParticipantTypeId == 2)
            {
                // Teacher
                <div class="card mb-3">
                    <div class="card-header">
                        @Localizer["Teacher"]
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header">
                                Teacher
                            </div>
                            <div class="card-body">
                                <div class="form-group" asp-enabled="RefTeacherTypeId">
                                    <!--fk select start-->
                                    <label asp-for="RefTeacherTypeId" class="control-label"></label>
                                    <select asp-for="RefTeacherTypeId" class="form-control custom-select" asp-items="ViewBag.RefTeacherTypeId">
                                    </select>
                                    <span asp-validation-for="RefTeacherTypeId" class="text-danger"></span>
                                    <!--fk select end-->
                                </div>

                                <div class="form-group" asp-enabled="RefTeacherPositionId">
                                    <!--fk select start-->
                                    <label asp-for="RefTeacherPositionId" class="control-label"></label>
                                    <select asp-for="RefTeacherPositionId" class="form-control custom-select" asp-items="ViewBag.RefTeacherPositionId">
                                    </select>
                                    <span asp-validation-for="RefTeacherPositionId" class="text-danger"></span>
                                    <!--fk select end-->
                                </div>

                                <div class="form-group" asp-enabled="RefTeacherEmploymentTypeId">
                                    <!--fk select start-->
                                    <label asp-for="RefTeacherEmploymentTypeId" class="control-label"></label>
                                    <select asp-for="RefTeacherEmploymentTypeId" class="form-control custom-select" asp-items="ViewBag.RefTeacherEmploymentTypeId">
                                    </select>
                                    <span asp-validation-for="RefTeacherEmploymentTypeId" class="text-danger"></span>
                                    <!--fk select end-->
                                </div>

                                <div class="form-group" asp-enabled="GradeLevels">
                                    <!--input start-->
                                    <label asp-for="GradeLevels" class="control-label"></label>
                                    <input asp-for="GradeLevels" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="GradeLevels" class="text-danger"></span>
                                    <!--input end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewBag.RefParticipantTypeId == 3)
            {
                // Education Administrator
                <div class="card mb-3">
                    <div class="card-header">
                        @Localizer["Education Administrator"]
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header">
                                Education Administrator
                            </div>
                            <div class="card-body">

                                <div class="form-group" asp-enabled="RefEducationAdministratorTypeId">
                                    <!--fk select start-->
                                    <label asp-for="RefEducationAdministratorTypeId" class="control-label"></label>
                                    <select asp-for="RefEducationAdministratorTypeId" class="form-control custom-select" asp-items="ViewBag.RefEducationAdministratorTypeId">
                                    </select>
                                    <span asp-validation-for="RefEducationAdministratorTypeId" class="text-danger"></span>
                                    <!--fk select end-->
                                </div>

                                <div class="form-group" asp-enabled="RefEducationAdministratorPositionId">
                                    <!--fk select start-->
                                    <label asp-for="RefEducationAdministratorPositionId" class="control-label"></label>
                                    <select asp-for="RefEducationAdministratorPositionId" class="form-control custom-select" asp-items="ViewBag.RefEducationAdministratorPositionId">
                                    </select>
                                    <span asp-validation-for="RefEducationAdministratorPositionId" class="text-danger"></span>
                                    <!--fk select end-->
                                </div>

                                <div class="form-group" asp-enabled="RefEducationAdministratorOfficeId">
                                    <!--fk select start-->
                                    <label asp-for="RefEducationAdministratorOfficeId" class="control-label"></label>
                                    <select asp-for="RefEducationAdministratorOfficeId" class="form-control custom-select" asp-items="ViewBag.RefEducationAdministratorOfficeId">
                                    </select>
                                    <span asp-validation-for="RefEducationAdministratorOfficeId" class="text-danger"></span>
                                    <!--fk select end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!-- button group start -->
            <div class="form-group text-right mt-5">
                @if (ViewBag.GroupId == null)
                {
                    <a id="cancelbutton" class="btn btn-secondary mr-2" asp-action="Index" asp-route-id="@ViewBag.ParentId">
                        <i class="fas fa-times"></i> @Localizer["Cancel"]
                    </a>
                }
                else
                {
                    <a id="cancelbutton" class="btn btn-secondary mr-2" asp-action="Index" asp-controller="GroupEnrollments" asp-route-id="@ViewBag.GroupId">
                        <i class="fas fa-times"></i> @Localizer["Cancel"]
                    </a>
                }

                <button id="submitbutton" type="submit" value="Save" class="btn btn-primary ladda-button" data-style="expand-left" data-spinner-color="white">
                    <span class="ladda-label">
                        <i class="fas fa-check"></i> @Localizer["Save"]
                    </span>
                </button>
            </div>
            <!-- button group end -->
        </form>
        <!--form end-->
    </div>
</div>

@section Styles {
    @{await Html.RenderPartialAsync("_EditStylesPartial");}
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_EditScriptsPartial");}

    <script>
        $(document).ready(function () {

            // ***** FOR JSTREE
            // Allows JQuery Validator to validate input hidden fields.
            // The selected Organization in the JStree plugin is a hidden input field
            // that its value gets updated on JStree change event.
            // This validates the selection of the Organization in the JStree on submit
            $("#main-form").data("validator").settings.ignore = "";

            // Initialize and load the JStree plugin, loading the Organization hierarchy structure
            // from the JSON request. The ['search'] plugin is enabled.
            $('#tree').jstree({
                'core': {
                    'data': {
                        "url": "/Requests/GetOrganizationTree/?id=@ViewBag.ParentOrganizationId",
                        "dataType": "json"
                    },
                    "check_callback": false,
                    'themes': {
                        'name': 'proton',
                        'responsive': true
                    },
                    'multiple': false
                },
                "search": {
                    "case_sensitive": false,
                    "show_only_matches": true,
                    "show_only_matches_children": true
                },
                "plugins": ["search"]
            });

            // Expands or Collapses the JStree
            var instance = $('#tree').jstree(true);
            $("#collapse").on("click", function () {
                instance.close_all();
            });

            $("#expand").on("click", function () {
                instance.open_all();
            });

            // JStree Search on keyup
            var to = false;
            $('#tree-search').keyup(function () {
                if (to) {
                    clearTimeout(to);
                }
                to = setTimeout(function () {
                    var v = $('#tree-search').val();
                    $('#tree').jstree(true).search(v);
                }, 250);
            });

            // JStree on node select, update hidden input field OrganizationId
            // and display "You selected: " html.
            $('#tree').on('changed.jstree', function (e, data) {
                e.preventDefault();
                if (data.selected) {
                    $('#OrganizationId').val(data.selected);
                    $('#SelectedOrganizationId').html(data.instance.get_selected(true)[0].text);
                }
            });

            // JStree loaded Callback - expand and select node
            $('#tree').on("ready.jstree", function (e, data) {
                data.instance._open_to(['@Model.OrganizationId'], true);
                data.instance.select_node(['@Model.OrganizationId'], true);
                //$('#OrganizationId').val(data.selected);
                $('#SelectedOrganizationId').html(data.instance.get_selected(true)[0].text);

            });

            @*  On Edit page load, pre-populate each RefLocation level chained select.
                This record only saves the lower level RefLocationId, this foreach
                populates the JS Ajax request required to populate each parent select
                based on the RefLocationId on this record.
            *@
            @foreach (var item in ViewData["RefLocationParents"] as IEnumerable<MEL.Entities.Reference.RefLocation>) {
                if (item.RefLocationTypeId == 1)
                {
                    <text>
            $('[data-locationlevel="@(item.RefLocationTypeId)"]').val("@item.RefLocationId");
                    </text>
                }
                else
                {
                       @: $.ajax({
                       @:     type: "Post",
                       @:     url: "/Requests/GetLocations/@item.ParentLocationId",
                       @:         contentType: "application/json; charset=utf-8",
                       @:         dataType: "json",
                       @:         success: function (data) {
                       @:             if (data.length) {
                       @:                 $(data).each(function () {
                       @:                     if (this.refLocationId == "@item.RefLocationId") {
                       @:                         $('[data-locationlevel="@(item.RefLocationTypeId)"]').append("<option selected value='" + this.refLocationId + "'>" + this.locationName + "</option>");
                       @:                     }
                       @:                     else {
                       @:                         $('[data-locationlevel="@(item.RefLocationTypeId)"]').append("<option value='" + this.refLocationId + "'>" + this.locationName + "</option>");
                       @:                     }
                       @:                 })
                       @:             }
                       @:         }
                       @: });
                }
            }

            // Counts the total number of available Location level inputs
            var totalLocationLevels = $('[data-locationlevel]').length;

            // JQuery select2 chained drop-downs by [data-locationlevel]
            // On change or remove event clears select options and
            // requests (Ajax) the new selected location options
            $('[data-locationlevel]').select2({
                theme: "bootstrap4",
                placeholder: " ",
                dropdownAutoWidth: true,
                width: '100%',
                allowClear: true,
                selectOnBlur: true,
                language: 'en'
            })
                .bind("change remove", function (e) {
                    e.preventDefault();

                    var locationLevel = $(this).data('locationlevel');
                    var locationId = $(this).val();

                    if (locationId) {
                        $('[data-locationlevel="' + (locationLevel + 1) + '"]').select2({
                            placeholder: "@Localizer["Loading..."]",
                            theme: "bootstrap4",
                            dropdownAutoWidth: true,
                            width: '100%'
                        })

                        $.ajax({
                            type: "Post",
                            url: "/Requests/GetLocations/" + locationId,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                if (data.length) {
                                    for (var i = 1; i < (totalLocationLevels); i++) {
                                        $('[data-locationlevel="' + (locationLevel + i) + '"]').empty().val();
                                    }

                                    $('[data-locationlevel="' + (locationLevel + 1) + '"]').append("<option value=''></option>");
                                    $(data).each(function () {
                                        $('[data-locationlevel="' + (locationLevel + 1) + '"]').append("<option value='" + this.refLocationId + "'>" + this.locationName + "</option>");
                                    });
                                    $('[data-locationlevel="' + (locationLevel + 1) + '"]').select2({
                                        placeholder: "@Localizer["Select..."]",
                                        selectOnBlur: true,
                                        allowClear: true,
                                        language: 'en',
                                        theme: "bootstrap4",
                                        dropdownAutoWidth: true,
                                        width: '100%'
                                    });
                                }
                            }
                        });
                    }
                    else {
                        // if the parente level select was removed - clear chained select options
                        // on each lower level select
                        for (var i = 1; i < (totalLocationLevels); i++) {
                            $('[data-locationlevel="' + (locationLevel + i) + '"]').empty()
                                .select2({
                                    placeholder: " ",
                                    allowClear: true,
                                    language: 'en',
                                    theme: "bootstrap4",
                                    dropdownAutoWidth: true,
                                    width: '100%'
                                });
                        }
                    }
                });

            // Calculate Age from Birth Date
            //https://stackoverflow.com/questions/4060004/calculate-age-given-the-birth-date-in-the-format-yyyymmdd/7091965#7091965
            var locale = '@System.Globalization.CultureInfo.CurrentUICulture';
            $('.date.birthdate')
                .datepicker({
                    language: locale, //use loaded locale language
                    autoclose: true,
                    showOnFocus: false,
                    todayHighlight: true,
                    disableTouchKeyboard: true,
                    toggleActive: true,
                    orientation: 'bottom auto'
                })
                // https://stackoverflow.com/questions/22335120/jquery-validator-and-datepicker-click-not-validating
                .on('change', function () {
                    var today = new Date();
                    var birthDate = $(this).datepicker('getDate');

                    var age = today.getFullYear() - birthDate.getFullYear();
                    var m = today.getMonth() - birthDate.getMonth();
                    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                        age--;
                    }
                    if (age <= 0) {

                        bootbox.alert("@Localizer["Incorrect date"] " + age + " @Localizer["years old"], (" + birthDate.toDateString() + "). @Localizer["Please verify."]");
                        $('#Age').val("");
                        $(this).val("");
                    }
                    else {
                        $('#Age').val(age);
                    }
                });

            // If Disability is true, display Disability Types options, else hide
            $('input[name="Disability"]').on('click', function () {
                if ($(this).val() == 'true') {
                    $('.disabilityoptions').show();
                }
                else {
                    $('#RefStudentDisabilityTypeId').val('');
                    $('.disabilityoptions').hide();
                }
            });

        });

    </script>

}
