@model MEL.Entities.TLM.TLMDistribution

@{
    ViewData["Title"] = @Localizer["Edit"].Value + " " + @Localizer["TLM Distribution"].Value;
}

<h2>@Localizer["Edit"]</h2>

<h4>@Localizer["TLM Distribution"]</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-8">
        <!--form start-->
        <form asp-action="Edit" id="main-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="ParentId" value="@ViewBag.ParentId" />
            <input type="hidden" asp-for="TLMDistributionId" />
            <input type="hidden" asp-for="TLMDistributionPeriodId" value="@Model.TLMDistributionPeriodId" />
            @*[Remote] Validation to validate user input and verify if the Tracking Code already exists.*@
            <input type="hidden" value="@Model.TrackingCode" name="TrackingCodeInitialValue" />

            <div class="form-group required" asp-enabled="RegistrationDate">
                <!--date start-->
                <label asp-for="RegistrationDate" class="control-label"></label>
                <span class="text-muted small">(@System.Globalization.CultureInfo.CurrentUICulture)</span>
                <!-- use class .date to enable datepicker -->
                <div class="input-group date">
                    <input asp-for="RegistrationDate" autocomplete="off" type="text" class="form-control" placeholder="@System.Globalization.DateTimeFormatInfo.CurrentInfo.ShortDatePattern" />
                    <span class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </span>
                </div>
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                <!--date end-->
            </div>

            <div class="card mb-3" asp-enabled="OrganizationIdFrom">
                <div class="card-header">
                    Organization From
                </div>
                <div class="card-body pb-2">
                    <!--fk tree start-->
                    <div class="input-group input-group-sm">
                        <input type="text" id="tree-search" autocomplete="off" placeholder="@Localizer["Search"]" class="form-control search-input" value="" />
                        <span class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </span>
                    </div>
                    <small><a href="#" id="collapse">@Localizer["collapse"]</a> / <a href="#" id="expand">@Localizer["expand"]</a></small>
                    <div id="tree-container" class="px-3 py-1">
                        <div id="tree" class="mb-5"></div>
                    </div>
                    <input asp-for="OrganizationIdFrom" required type="hidden" />
                    <div class="border-top pt-1">
                        <span>@Localizer["Selected organization from"]: <span id="SelectedOrganizationIdFrom"><span class="text-muted">@Localizer["none selected"]</span></span></span>
                    </div>
                    <span asp-validation-for="OrganizationIdFrom" class="text-danger"></span>
                    <!--fk tree end-->
                </div>
            </div>

            <div class="card mb-3" asp-enabled="OrganizationIdTo">
                <div class="card-header">
                    Organization To
                </div>
                <div class="card-body pb-2">
                    <!--fk tree start-->
                    <div class="input-group input-group-sm">
                        <input type="text" id="tree-search-to" autocomplete="off" placeholder="@Localizer["Search"]" class="form-control search-input" value="" />
                        <span class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </span>
                    </div>
                    @*<small><a href="#" id="collapse-to">@Localizer["collapse"]</a> / <a href="#" id="expand-to">@Localizer["expand"]</a></small>*@
                    <div id="tree-container-to" class="px-3 py-1">
                        <div id="tree-to" class="mb-5"></div>
                    </div>
                    <input asp-for="OrganizationIdTo" required type="hidden" />
                    <div class="border-top pt-1">
                        <span>@Localizer["Selected organization to"]: <span id="SelectedOrganizationIdTo"><span class="text-muted">@Localizer["none selected"]</span></span></span>
                    </div>
                    <span asp-validation-for="OrganizationIdTo" class="text-danger"></span>
                    <!--fk tree end-->
                </div>
            </div>

            <div class="form-group" asp-enabled="TrackingCode">
                <!--input start-->
                <label asp-for="TrackingCode" class="control-label"></label>
                <input asp-for="TrackingCode" autocomplete="off" class="form-control" />
                <span asp-validation-for="TrackingCode" class="text-danger"></span>
                <!--input end-->
            </div>

            <div class="form-group" asp-enabled="ShippedDate">
                <!--date start-->
                <label asp-for="ShippedDate" class="control-label"></label>
                <span class="text-muted small">(@System.Globalization.CultureInfo.CurrentUICulture)</span>
                <!-- use class .date to enable datepicker -->
                <!-- use class .startdate to enable start/end date validation -->
                <div class="input-group date startdate">
                    <input asp-for="ShippedDate" autocomplete="off" type="text" class="form-control" placeholder="@System.Globalization.DateTimeFormatInfo.CurrentInfo.ShortDatePattern" />
                    <span class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </span>
                </div>
                <span asp-validation-for="ShippedDate" class="text-danger"></span>
                <!--date end-->
            </div>

            <div class="form-group" asp-enabled="ShippedDate">
                <!--date start-->
                <label asp-for="ReceivedDate" class="control-label"></label>
                <span class="text-muted small">(@System.Globalization.CultureInfo.CurrentUICulture)</span>
                <!-- use class .date to enable datepicker -->
                <!-- use class .enddate to enable start/end date validation -->
                <div class="input-group date enddate">
                    <input asp-for="ReceivedDate" autocomplete="off" type="text" class="form-control" placeholder="@System.Globalization.DateTimeFormatInfo.CurrentInfo.ShortDatePattern" />
                    <span class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </span>
                </div>
                <span asp-validation-for="ReceivedDate" class="text-danger"></span>
                <!--date end-->
            </div>

            <div class="form-group" asp-enabled="ReceivedBy">
                <!--input start-->
                <label asp-for="ReceivedBy" class="control-label"></label>
                <input asp-for="ReceivedBy" autocomplete="off" class="form-control" />
                <span asp-validation-for="ReceivedBy" class="text-danger"></span>
                <!--input end-->
            </div>

            <div class="form-group" asp-enabled="RefTLMDistributionStatusId">
                <!--fk select start-->
                <label asp-for="RefTLMDistributionStatusId" class="control-label"></label>
                <select asp-for="RefTLMDistributionStatusId" class="form-control custom-select" asp-items="ViewBag.RefTLMDistributionStatusId">
                </select>
                <span asp-validation-for="RefTLMDistributionStatusId" class="text-danger"></span>
                <!--fk select end-->
            </div>

            <!-- button group start -->
            <div class="form-group text-right mt-5">
                <a id="cancelbutton" class="btn btn-secondary mr-2" asp-action="Index" asp-route-id="@ViewBag.ParentId">
                    <i class="fas fa-times"></i> @Localizer["Cancel"]
                </a>
                <button id="submitbutton" type="submit" value="Save" class="btn btn-primary ladda-button" data-style="expand-left" data-spinner-color="white">
                    <span class="ladda-label">
                        <i class="fas fa-check"></i> @Localizer["Save"]
                    </span>
                </button>
            </div>
            <!-- button group end -->
        </form>
        <!--form end-->
    </div>
</div>

@section Styles {
    @{await Html.RenderPartialAsync("_EditStylesPartial");}
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_EditScriptsPartial");}
<script>
        $(document).ready(function () {

            // *** FOR JSTREE ***
            // Allows JQuery Validator to validate input hidden fields.
            // The selected Organization in the JStree plugin is a hidden input field
            // that its value gets updated on JStree change event.
            // This validates the selection of the Organization in the JStree on submit
            $("#main-form").data("validator").settings.ignore = "";

            // Initialize and load the JStree plugin, loading the Organization hierarchy structure
            // from the JSON request. The ['search'] plugin is enabled.
            var treeFrom = $('#tree').jstree({
                'core': {
                    'data': {
                        "url": "/Requests/GetOrganizationTree/?id=@ViewBag.ParentOrganizationId",
                        "dataType": "json"
                    },
                    "check_callback": false,
                    'themes': {
                        'name': 'proton',
                        'responsive': true
                    },
                    'multiple': false
                },
                "search": {
                    "case_sensitive": false,
                    "show_only_matches": true,
                    "show_only_matches_children": true
                },
                "plugins": ["search"]
            });

            // Expands or Collapses the JStree-From
            var instanceFrom = $('#tree').jstree(true);
            $("#collapse").on("click", function () {
                instanceFrom.close_all();
            });

            $("#expand").on("click", function () {
                instanceFrom.open_all();
            });

            // JStree-From Search on keyup
            var from = false;
            $('#tree-search').keyup(function () {
                if (from) {
                    clearTimeout(from);
                }
                from = setTimeout(function () {
                    var v = $('#tree-search').val();
                    $('#tree').jstree(true).search(v);
                }, 250);
            });

            // JStree-To Search on keyup
            var to = false;
            $('#tree-search-to').keyup(function () {
                if (to) {
                    clearTimeout(to);
                }
                to = setTimeout(function () {
                    var v = $('#tree-search-to').val();
                    $('#tree-to').jstree(true).search(v);
                }, 250);
            });

            // JStree-From on node select, update hidden input field OrganizationId
            // and display "You selected: " html.
            treeFrom.on('changed.jstree', function (e, data) {
                e.preventDefault();
                if (data.selected) {
                    $('#OrganizationIdFrom').val(data.selected);
                    $('#SelectedOrganizationIdFrom').html(data.instance.get_selected(true)[0].text);

                    var treeTo = $('#tree-to').jstree('destroy');
                    $('#OrganizationIdTo').val('');
                    $('#SelectedOrganizationIdTo').html('');
                    treeTo.jstree({
                        'core': {
                            'data': {
                                "url": "/Requests/GetOrganizationTree/?id=" + data.selected,
                                "dataType": "json"
                            },
                            "check_callback": false,
                            'themes': {
                                'name': 'proton',
                                'responsive': true
                            },
                            'multiple': false
                        },
                        "search": {
                            "case_sensitive": false,
                            "show_only_matches": true,
                            "show_only_matches_children": true
                        },
                        "plugins": ["search"]
                    });

                    // JStree-To on node select, update hidden input field OrganizationId
                    // and display "You selected: " html.
                    treeTo.on('changed.jstree', function (e, data) {
                        e.preventDefault();
                        if (data.selected) {
                            $('#OrganizationIdTo').val(data.selected);
                            $('#SelectedOrganizationIdTo').html(data.instance.get_selected(true)[0].text);
                        }
                    });
                }
            });

            // JStree loaded Callback - expand and select node
            $('#tree').on("ready.jstree", function (e, data) {
                data.instance._open_to(['@Model.OrganizationIdFrom'], true);
                data.instance.select_node(['@Model.OrganizationIdFrom'], true);
                //$('#OrganizationId').val(data.selected);
                $('#SelectedOrganizationIdFrom').html(data.instance.get_selected(true)[0].text);

                $('#tree-to').jstree({
                        'core': {
                            'data': {
                                "url": "/Requests/GetOrganizationTree/?id=@Model.OrganizationIdFrom",
                                "dataType": "json"
                            },
                            "check_callback": false,
                            'themes': {
                                'name': 'proton',
                                'responsive': true
                            },
                            'multiple': false
                        },
                        "search": {
                            "case_sensitive": false,
                            "show_only_matches": true,
                            "show_only_matches_children": true
                        },
                        "plugins": ["search"]
                    });

                // JStree loaded Callback - expand and select node
                $('#tree-to').on("ready.jstree", function (e, data) {
                    data.instance._open_to(['@Model.OrganizationIdTo'], true);
                    data.instance.select_node(['@Model.OrganizationIdTo'], true);
                    //$('#OrganizationId').val(data.selected);
                    $('#SelectedOrganizationIdTo').html(data.instance.get_selected(true)[0].text);
                });

            });

            


            var cultureInfo = '@System.Globalization.CultureInfo.CurrentCulture.DisplayName';

            //Validate that End Date input is not before Start Date
            function checkDates() {
                var startDate = $('.date.startdate').datepicker('getDate');
                var endDate = $('.date.enddate').datepicker('getDate');
                if (startDate != null && endDate != null) {
                    if (startDate > endDate) {

                        bootbox.alert({
                            title: '@Localizer["Incorrect date"]',
                            message: "@Localizer["The End Date must occur after the Start Date"]",
                            centerVertical: true,
                            backdrop: true,
                            onEscape: false,
                            size: "medium",
                        });
                        $('#ReceivedDate').val('');
                    }
                }
            }

            $('.date.startdate')
                .on("changeDate", function (e) {
                    checkDates();
                });

           $('.date.enddate')
               .on("changeDate", function (e) {
                    checkDates();
                });

        });
</script>

}
