@model MEL.Entities.Reference.RefSchoolCluster

@{
    ViewData["Title"] = @Localizer["Edit"].Value + " " + @Localizer["School Cluster"].Value;
}

<h2>@Localizer["Edit"]</h2>

<h4>@Localizer["School Cluster"]</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-8">
        <!--form start-->
        <form asp-action="Edit" id="main-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="ParentId" value="@ViewBag.ParentId" />
            <input type="hidden" asp-for="RefSchoolClusterId" />
            
            <div class="form-group" asp-enabled="SchoolClusterCode">
                <!--input start-->
                <label asp-for="SchoolClusterCode" class="control-label"></label>
                <input asp-for="SchoolClusterCode" autocomplete="off" class="form-control" />
                <span asp-validation-for="SchoolClusterCode" class="text-danger"></span>
                <!--input end-->
            </div>
            
            
            <div class="form-group" asp-enabled="SchoolCluster">
                <!--input start-->
                <label asp-for="SchoolCluster" class="control-label"></label>
                <input asp-for="SchoolCluster" autocomplete="off" class="form-control" />
                <span asp-validation-for="SchoolCluster" class="text-danger"></span>
                <!--input end-->
            </div>
            
            
            <div class="form-group" asp-enabled="RefLocationId">
                <!--fk select start-->
                <label asp-for="RefLocationId" class="control-label"></label>
                <select asp-for="RefLocationId" class="form-control custom-select" asp-items="ViewBag.RefLocationId">
                </select>
                <span asp-validation-for="RefLocationId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <!-- button group start -->
            <div class="form-group text-right mt-5">
                <a id="cancelbutton" class="btn btn-secondary mr-2" asp-action="Index" asp-route-id="@ViewBag.ParentId">
                    <i class="fas fa-times"></i> @Localizer["Cancel"]
                </a>
                <button id="submitbutton" type="submit" value="Save" class="btn btn-primary ladda-button" data-style="expand-left" data-spinner-color="white">
                    <span class="ladda-label">
                        <i class="fas fa-check"></i> @Localizer["Save"]
                    </span>
                </button>
            </div>
            <!-- button group end -->
        </form>
        <!--form end-->
    </div>
</div>

@section Styles {
    @{await Html.RenderPartialAsync("_EditStylesPartial");}
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_EditScriptsPartial");}
}
