@model MEL.Entities.TLM.TLMDistributionDetail

@{
    ViewData["Title"] = @Localizer["TLM Distribution"].Value + " " + @Localizer["Details"].Value;
}

<h2>@Localizer["Details"]</h2>

<div>
    <h4>@Localizer["TLM Distribution Detail"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TLMMaterials)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TLMMaterials.TLMMaterialCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TLMMaterials.TLMMaterialName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TLMMaterials.TLMMaterialName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityShipped)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantityShipped)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityReceived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantityReceived)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TLMDistributions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TLMDistributions.TrackingCode)
        </dd>

    </dl>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedDate?.ToLocalTime().ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Model.ModifiedDate?.ToLocalTime().ToString()
        </dd>
    </dl>


</div>
<div>
    <!--footer buttons start-->
    <div class="row mt-5">
        <div class="col">
            <a asp-action="Index" asp-route-id="@ViewBag.ParentId" class="btn btn-secondary mr-1"><i class="fas fa-chevron-left"></i> @Localizer["Back to List"]</a>
            @if (ViewBag.Closed =! true)
            {
                <a policy="RequireEditRole" asp-action="Edit" asp-route-id="@Model.TLMDistributionDetailId" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> @Localizer["Edit"]</a>
            }
        </div>
        <div class="col text-right"></div>
    </div>
    <!--footer buttons end-->
</div>
