@{
    ViewData["Title"] = Localizer["Home Page"].Value;
}

<div class="jumbotron pb-4">
    <img class="ml-0 pl-0" src="~/images/MEInsightLogo-jumbotron.png" />
    <p class="lead">@Localizer["An open source monitoring and evaluation data management system for international development projects"].</p>
    <hr class="mt-2">
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Localizer["Enrollments"]</h5>
            <p class="card-text">
                @Localizer["Navigate through your organizations, schools, partners, groups / cohorts, and participant enrollment lists"].
            </p>
        </div>
        <div class="card-footer text-right">
            <a asp-controller="Organizations" asp-action="Index" class="btn btn-sm btn-primary"><i class="fas fa-sitemap pr-1"></i> @Localizer["Enrollments"]</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Localizer["Participants"]</h5>
            <p class="card-text">@Localizer["View all your active Participants, students, teachers, education administrators or other participant types"].</p>

        </div>
        <div class="card-footer text-right">
            <a asp-controller="Participants" asp-action="Index" class="btn btn-sm btn-primary"><i class="fas fa-users pr-1"></i> @Localizer["Participants"]</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Localizer["Settings"]</h5>
            <p class="card-text">@Localizer["Visualize and update your application settings, category lists and option choices"].</p>
        </div>
        <div class="card-footer text-right">
            <a asp-controller="Home" asp-action="Index" asp-area="Settings" class="btn btn-sm btn-primary"><i class="fas fa-cog pr-1"></i> @Localizer["Settings"]</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Localizer["Documentation"]</h5>
            <p class="card-text">@Localizer["Read the user guides and documentation"].</p>
        </div>
        <div class="card-footer text-right">
            <a href="https://github.com/edc-it/MEInsight/" class="btn btn-sm btn-primary"><i class="fas fa-info-circle pr-1"></i> @Localizer["Documentation"]</a>
        </div>
    </div>
</div>
<style>
    .card-deck {
        margin: 0 -15px;
        justify-content: space-between;
    }

        .card-deck .card {
            margin: 0 0 1rem;
        }

    @@media (min-width: 576px) and (max-width: 767.98px) {
        .card-deck .card {
            -ms-flex: 0 0 48.7%;
            flex: 0 0 48.7%;
        }
    }

    @@media (min-width: 768px) and (max-width: 991.98px) {
        .card-deck .card {
            -ms-flex: 0 0 32%;
            flex: 0 0 32%;
        }
    }

    @@media (min-width: 992px) {
        .card-deck .card {
            -ms-flex: 0 0 24%;
            flex: 0 0 24%;
        }
    }
</style>