@model MEL.Entities.Programs.GroupEnrollment

@{
    ViewData["Title"] = @Localizer["Create"].Value + " " + @Localizer["GroupEnrollment"].Value;
}

<h2>@Localizer["Create"]</h2>

<h4>@Localizer["GroupEnrollment"]</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-8">
        <form asp-action="Create" id="main-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="ParentId" value="@ViewBag.ParentId" />
            <div class="form-group" asp-enabled="GroupId">
                <!--fk select start-->
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class ="form-control custom-select" asp-items="ViewBag.GroupId">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <div class="form-group" asp-enabled="ParticipantId">
                <!--fk select start-->
                <label asp-for="ParticipantId" class="control-label"></label>
                <select asp-for="ParticipantId" class ="form-control custom-select" asp-items="ViewBag.ParticipantId">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for="ParticipantId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <div class="form-group" asp-enabled="EnrollmentDate">
                <!--input start-->
                <label asp-for="EnrollmentDate" class="control-label"></label>
                <input asp-for="EnrollmentDate" autocomplete="off" class="form-control" />
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="form-group" asp-enabled="Attendance">
                <!--input start-->
                <label asp-for="Attendance" class="control-label"></label>
                <input asp-for="Attendance" autocomplete="off" class="form-control" />
                <span asp-validation-for="Attendance" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="form-group" asp-enabled="StatusDate">
                <!--input start-->
                <label asp-for="StatusDate" class="control-label"></label>
                <input asp-for="StatusDate" autocomplete="off" class="form-control" />
                <span asp-validation-for="StatusDate" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <div class="form-group" asp-enabled="RefEnrollmentStatusId">
                <!--fk select start-->
                <label asp-for="RefEnrollmentStatusId" class="control-label"></label>
                <select asp-for="RefEnrollmentStatusId" class ="form-control custom-select" asp-items="ViewBag.RefEnrollmentStatusId">
                    <option disabled selected></option>
                </select>
                <span asp-validation-for="RefEnrollmentStatusId" class="text-danger"></span>
                <!--fk select end-->
            </div>
            
            <!-- button group start -->
            <div class="form-group text-right mt-5">
                <a id="cancelbutton" class="btn btn-secondary mr-2" asp-action="Index" asp-route-id="@ViewBag.ParentId">
                    <i class="fas fa-times"></i> @Localizer["Cancel"]
                </a>
                <button id="submitbutton" type="submit" value="Create" class="btn btn-primary ladda-button" data-style="expand-left" data-spinner-color="white">
                    <span class="ladda-label">
                        <i class="fas fa-check"></i> @Localizer["Create"]
                    </span>
                </button>
            </div>
            <!-- button group end -->
        </form>
    </div>
</div>

@section Styles {
    @{await Html.RenderPartialAsync("_CreateStylesPartial");}
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CreateScriptsPartial");}
}
