@model MEL.Entities.Programs.GroupEnrollment

@{
    ViewData["Title"] = @Localizer["GroupEnrollment"].Value + " " + @Localizer["Details"].Value;
}

<h2>@Localizer["Details"]</h2>

<div>
    <h4>@Localizer["GroupEnrollment"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attendance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participants.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Groups)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Groups.GroupCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentStatus.EnrollmentStatus)
        </dd>
    </dl>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedDate?.ToLocalTime().ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Model.ModifiedDate?.ToLocalTime().ToString()
        </dd>
    </dl>

</div>
<div>
    <!--footer buttons start-->
    <div class="row mt-5">
        <div class="col">
            <a asp-action="Index" asp-route-id="@ViewBag.ParentId" class="btn btn-secondary mr-1"><i class="fas fa-chevron-left"></i> @Localizer["Back to List"]</a>
            <a policy="RequireEditRole" asp-action="Edit" asp-route-id="@Model.GroupEnrollmentId" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> @Localizer["Edit"]</a>
        </div>
        <div class="col text-right"></div>
    </div>
    <!--footer buttons end-->
</div>
