@model MEInsight.Entities.Programs.GroupEnrollment

@{
    ViewData["Title"] = @Localizer["Create"].Value + " " + @Localizer["Group Enrollment"].Value;
}

<!--content start-->
    <div class="">
        <!--heading start-->
        <div class="card mb-3 heading-panel">
            <div class="card-body">
                <h2 class="card-title mt-3 fw-bold mb-0">@Localizer["Group Enrollments"]</h2>
                <span class="card-text text-muted">@Localizer["Select existing participants to enroll in this Group"]</span>
            </div>
        </div>
        <!--heading end-->

        <div class="card mb-3">
            <div class="card-header" data-bs-toggle="collapse" href="#collapseFilters" aria-expanded="true">
                @Localizer["Filters"]
            </div>
            <div class="collapse show" id="collapseFilters">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3" asp-enabled="OrganizationId">
                                <div class="card-header">
                                    Organization
                                </div>
                                <div class="card-body">
                                    <!--fk tree start-->
                                    <div class="input-group input-group-sm">
                                        <input type="text" id="tree-search" autocomplete="off" placeholder="@Localizer["Search"]" class="form-control search-input" value="" />
                                        <span class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                                        </span>
                                    </div>
                                    <small><a href="#" id="collapse">@Localizer["collapse"]</a> / <a href="#" id="expand">@Localizer["expand"]</a></small>
                                    <div id="tree-container" class="px-3 py-1">
                                        <div id="tree" class="mb-5"></div>
                                    </div>
                                    
                                    <div class="border-top">
                                        <span>@Localizer["Selected organization"]: <span id="SelectedOrganizationId"><span class="text-muted">@Localizer["none selected"]</span></span></span>
                                    </div>
                                    
                                    <!--fk tree end-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="GroupId">@Localizer["Group"]</label>
                                <select class="form-control" name="GroupId" id="GroupId"></select>
                            </div>

                            <div class="pull-right">
                                <div class="btn-group hidden-print" role="group">
                                    <button class="btn btn-sm btn-primary ladda-button" id="filterbutton" type="submit">
                                        <span class="ladda-label">
                                            <i class="fa fa-filter" aria-hidden="true"></i> @Localizer["Filter"]
                                        </span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!--Existing Participants-->
        <div class="card mb-3">
            <div class="card-header" data-bs-toggle="collapse" href="#collapseExisting" aria-expanded="true">
                @Localizer["Existing Participants"]
            </div>
            <div class="collapse show" id="collapseExisting">
                <div class="card-body">

                    <!--toolbars start-->
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-start">
                            <div id="toolbar" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-end">
                            <!--datatable search start-->
                            <div class="input-group input-group-sm d-print-none mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                                <input id="searchbox" type="text" class="form-control" placeholder='@Localizer["Search"]' aria-describedby="searchbox">
                                <div class="input-group-append">
                                    <button id="search-button" class="btn btn-sm btn-secondary" type="button">@Localizer["Search"]</button>
                                </div>
                            </div>
                            <!--datatable search end-->
                        </div>
                    </div>
                    <!--toolbars end-->
                    <!--datatable start-->
                    <div class="row">
                        <div class="col-sm-12">
                            <!--table start-->
                            <table id="datatable1" class="table table-sm responsive no-wrap w-100">
                                <thead>
                                    <tr>
                                        <th data-data="participantId" data-name="ParticipantId" data-visible="false">
                                            @Localizer["ParticipantId"]
                                        </th>
                                        <th data-data="name" data-name="Name" data-responsivePriority="1">
                                            @Localizer["Name"]
                                        </th>
                                        <th data-data="participantCode" data-name="ParticipantCode">
                                            @Localizer["Participant Code"]
                                        </th>
                                        <th data-data="participantType" data-name="ParticipantType">
                                            @Localizer["Participant Type"]
                                        </th>
                                        <th data-data="sex" data-name="Sex">
                                            @Localizer["Sex"]
                                        </th>
                                        <th data-data="organizationName" data-name="OrganizationName">
                                            @Localizer["Organization"]
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--table end-->
                            <div class="" id="detailfooter">

                                <div class="pull-right">
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-sm btn-primary ladda-button text-uppercase" id="enrollbutton" type="submit" data-style="expand-left">
                                            <span class="ladda-label">
                                                <i class="fa fa-angle-double-down" aria-hidden="true"></i> @Localizer["Add Participants"]
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--datatable end-->
                    <!--datatable pagination start-->
                    <div class="row">
                        <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-start"><div class="" id="detailfooter"></div></div>
                        <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-end">
                            <div class="" id="datatables-pagination"></div>
                        </div>
                    </div>
                    <!--datatable pagination end-->

                </div>
            </div>
        </div>

        <!--Selected Participants-->
        <div class="card">
            <div class="card-header" data-bs-toggle="collapse" href="#collapseSelected" aria-expanded="true">
                @Localizer["Selected Participants to Enroll"]
            </div>
            <div class="collapse show" id="collapseSelected">
                <div class="card-body">

                    <!--toolbars start-->
                    @*<div class="row mb-3">
                        <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-start">
                            <div id="toolbar2" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-end">
                            <!--datatable search start-->
                            <div class="input-group input-group-sm d-print-none mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                                <input id="searchbox2" type="text" class="form-control" placeholder='@Localizer["Search"]' aria-describedby="searchbox">
                                <div class="input-group-append">
                                    <button id="search-button2" class="btn btn-sm btn-secondary" type="button">@Localizer["Search"]</button>
                                </div>
                            </div>
                            <!--datatable search end-->
                        </div>
                    </div>*@
                    <!--toolbars end-->
                    <!--datatable start-->
                    <div class="row">
                        <div class="col-sm-12">
                            <!--table start-->
                            <table id="datatable2" class="table table-sm responsive no-wrap w-100">
                                <thead>
                                    <tr>
                                        <th data-data="participantId" data-name="ParticipantId2" data-visible="false">
                                            @Localizer["ParticipantId"]
                                        </th>
                                        <th data-data="name" data-name="Name2" data-responsivePriority="1">
                                            @Localizer["Name"]
                                        </th>
                                        <th data-data="participantCode" data-name="ParticipantCode2">
                                            @Localizer["Participant Code"]
                                        </th>
                                        <th data-data="participantType" data-name="ParticipantType2">
                                            @Localizer["Participant Type"]
                                        </th>
                                        <th data-data="sex" data-name="Sex2">
                                            @Localizer["Sex"]
                                        </th>
                                        <th data-data="organizationName" data-name="OrganizationName2">
                                            @Localizer["Organization"]
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <!--table end-->
                            <div class="" id="detailfooter2">

                                <div class="pull-right">
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-sm btn-primary ladda-button text-uppercase" id="removebutton" type="submit" data-style="expand-left">
                                            <span class="ladda-label">
                                                <i class="fa fa-angle-double-up" aria-hidden="true"></i> @Localizer["Remove from list"]
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--datatable end-->
                    <!--datatable pagination start-->
                    <div class="row">
                        <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-start"><div class="" id="detailfooter23"></div></div>
                        <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-end">
                            <div class="" id="datatables-pagination2"></div>
                        </div>
                    </div>
                    <!--datatable pagination end-->

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <form id="mainform" asp-action="Create">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" name="GroupId" value="@ViewBag.ParentId" />
                    <div class="form-group required" asp-enabled="RegistrationDate">
                        <span class="small">@Localizer["Start Date"]: @ViewBag.GroupStartDate</span><br />
                        <span class="small">@Localizer["End Date"]: @ViewBag.GroupEndDate</span><br />
                        <!--date start-->
                        <label asp-for="EnrollmentDate" class="control-label"></label>
                        <span class="text-muted small">(@System.Globalization.CultureInfo.CurrentUICulture)</span>
                        <!-- use class .date to enable datepicker -->
                        <div class="input-group date">
                            <input asp-for="EnrollmentDate" autocomplete="off" type="text" class="form-control required" placeholder="@System.Globalization.DateTimeFormatInfo.CurrentInfo.ShortDatePattern" />
                            <span class="input-group-append">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </span>
                        </div>
                        <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
                        <!--date end-->
                    </div>
                    <div class="form-group">
                        <a class="btn btn-secondary" asp-action="Index" asp-route-id="@ViewBag.ParentId"><i class="fa fa-times" aria-hidden="true"></i> @Localizer["Cancel"]</a>
                        <button id="submitFormbutton" type="submit" value="Create" class="btn btn-secondary ladda-button" data-style="expand-left" data-spinner-color="black">
                            <span class="ladda-label">
                                <i class="fa fa-check" aria-hidden="true"></i> @Localizer["Enroll"]
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div><!--content end-->


@section Styles {
    @{await Html.RenderPartialAsync("_ListStylesPartial");}
    @{await Html.RenderPartialAsync("_CreateStylesPartial");}
    <style>
        #tree-container {
            width: 100%;
            height: auto;
            max-height: 250px;
            overflow: auto;
            display: inline-block;
        }

        .jstree-default a {
            white-space: normal !important;
            height: auto;
        }

        .jstree-anchor {
            height: auto !important;
        }

        .jstree-default li > ins {
            vertical-align: top;
        }

        .jstree-leaf {
            height: auto;
        }

            .jstree-leaf a {
                height: auto !important;
            }

        .panel-heading .fa-chevron:after {
            content: "\f078";
        }

        .panel-heading.collapsed .fa-chevron:after {
            content: "\f054";
        }
    </style>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ServerListScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CreateScriptsPartial");}

    <script>
        // GLOBAL
        var table;
        var checked_ids = [];

        $(document).ready(function () {

            function getDataTablesLanguage() {
            var cultureInfo = '@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName';
            if (cultureInfo) {
                var path = '/lib/datatables.net/i18n/' + cultureInfo + '.json';
                }
                return path;
            }

            // DATATABLE OPTIONS
            var dataTable1Options = {
                processing: true,
                serverSide: true,
                filter: true,
                orderMulti: false,
                select: true,
                order: [],
                lengthChange: true,
                searchHighlight: true,
                orderClasses: true,
                pagingType: "full_numbers",
                pageLength: 5,
                dom: "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5 hidden-print'l><'col-sm-7 hidden-print'p>>" +
                    "<'div'<'infofooter'i>>",
                responsive: true,
                language: {
                    url: getDataTablesLanguage()
                },
                initComplete: function (settings, json) {
                    $("#datatable1").show();

                },
                ajax: {
                    url: "/Requests/GetParticipants",
                    data:
                        function (d) {
                            d.GroupId = $('#GroupId option:selected').val();
                            d.selectedOrganizations = checked_ids;
                        },
                    type: "POST",
                    datatype: "json"
                },
                columns: [
                    { data: "participantId", name: "ParticipantId", autoWidth: true, visible: false },
                    { data: "name", name: "Name", autoWidth: true, responsivePriority: 1 },
                    { data: "participantCode", name: "ParticipantCode", autoWidth: true },
                    { data: "participantType", name: "ParticipantType", autoWidth: true },
                    { data: "sex", name: "Sex", autoWidth: true },
                    { data: "organizationName", name: "OrganizationName", autoWidth: true  }
                ]
            };

            // DATATABLE INIT
            //table1 = $('#datatable1').DataTable(dataTable1Options);

            // MOVE DATATABLE INFO FOOTER TO CONTAINER
            $('.infofooter').appendTo('#detailfooter');

            // ACTIVATE SEARCH ON INPUT CONTAINER
            $("#searchbox").keyup(function () {
                table1.search(this.value).draw();
            });

            // FILTER DATATABLE
            $('#filterbutton').on('click', function (e) {
                e.preventDefault();

                // Init Ladda button
                var l = Ladda.create(document.querySelector('#filterbutton'));
                l.start();

                //Get tree selected
                checked_ids = $('#tree').jstree("get_selected");

                //Get table data and stop Ladda loader
                table1.ajax.reload(function () {
                    l.stop();
                });
            });

            // DATATABLE 2 OPTIONS
            var dataTable2Options = {
                processing: true,
                orderMulti: false,
                select: true,
                order: [],
                lengthChange: true,
                orderClasses: true,
                pagingType: "full_numbers",
                pageLength: 10,
                dom: "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5 hidden-print'l><'col-sm-7 hidden-print'p>>" +
                    "<'div'<'infofooter'i>>",
                responsive: true,
                language: {
                    url: getDataTablesLanguage()
                },
                initComplete: function (settings, json) {
                    $("#datatable2").show();
                },
                columns: [
                    { data: "participantId", name: "ParticipantId", autoWidth: true, visible: false },
                    { data: "name", name: "Name", autoWidth: true, responsivePriority: 1 },
                    { data: "participantCode", name: "ParticipantCode", autoWidth: true },
                    { data: "participantType", name: "ParticipantType", autoWidth: true },
                    { data: "sex", name: "Sex", autoWidth: true },
                    { data: "organizationName", name: "OrganizationName", autoWidth: true }
                ]
            };

            // DATATABLE INIT
            table2 = $('#datatable2').DataTable(dataTable2Options);

            function moveRows(fromTable, toTable) {
                var $row = fromTable.rows({ selected: true }).data().toArray();
                $.each($row, function (k, v) {
                    if (this !== null) {
                        toTable.row.add(this).draw();
                    }
                });
            }

            function removeRows(fromTable) {
                var $row = fromTable.rows({ selected: true }).data().toArray();
                $.each($row, function (k, v) {
                    if (this !== null) {
                        fromTable.row('.selected').remove().draw(false);
                    }
                });
            }

            $('#submitFormbutton').on('click', function (e) {
                e.preventDefault();
                var form = $('#mainform');
                // Get Enrolled from Table2
                var $row = table2.rows().data().toArray();
                var ParticipantId = [];
                $.each($row, function () {
                    $(form).append(
                        $('<input>')
                            .attr('type', 'hidden')
                            .attr('name', "ParticipantId")
                            .val(this["participantId"])
                    );
                });

                if (form.valid()) {
                    var l = Ladda.create(document.querySelector('#submitFormbutton'));
                    l.start();
                    form.submit();
                }
                return false;
            });

            $('#enrollbutton').on("click", function () {
                moveRows(table1, table2);
            });

            $('#removebutton').on("click", function () {
                removeRows(table2);
            });

            //TOOLTIP INIT
            $('[data-bs-toggle="tooltip"]').tooltip({
                animation: true,
                delay: { "show": 700, "hide": 100 },
                trigger: 'hover'
            });

            $('.buttons-html5').tooltip({
                animation: false,
                delay: { "show": 700, "hide": 100 },
                trigger: 'hover'
            });


            // EXPAND COLUMNS
            $('#expander').on("click", function () {
                $('.body-content').toggleClass("container container-fluid");
                table.columns.adjust();
            });

            // PARTICIPANT TYPE CHAIN
            //$("#RefParticipantTypeId").on("change", function () {
            //    var ParticipantType = $(this).val();

            //    // Clear all on change
            //    $('#RefStudentTypeId').val('');
            //    $('#RefStudentLevelId').val('');
            //    $('#RefStudentSpecializationId').val('').trigger('change');
            //    $('#RefStudentDisabilityTypeId').val('');
            //    $('#student').hide();

            //    $('#RefTeacherPositionId').val('').trigger('change');
            //    $("#educationadmin").hide();

            //    if (ParticipantType === 1) {
            //        $("#student").show();
            //    }
            //    if (ParticipantType === 2 || ParticipantType === 3) {
            //        $("#educationadmin").show();
            //    }
            //});


            var cultureInfo = '@System.Globalization.CultureInfo.CurrentCulture.DisplayName';

            $('.date').datepicker({
                startDate: "@ViewBag.GroupStartDate",
                endDate: "@ViewBag.GroupEndDate",
                todayBtn: "linked",
                language: '@System.Globalization.CultureInfo.CurrentUICulture',
                //language: 'en',
                //daysOfWeekHighlighted: "1,2,3,4,5",
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });



            // INIT TREE VIEW
            var $treeview = $('#tree').jstree({
                'core': {
                        'data': {
                            "url": "/Requests/GetOrganizationTree/?id=@ViewBag.ParentOrganizationId",
                        "dataType": "json"
                    },
                    "check_callback": false,
                    'themes': {
                        'name': 'proton',
                        'responsive': true
                    }
                },
                "plugins": ["checkbox"]
            });

            function getGroup() {
                checked_ids = $('#tree').jstree("get_selected");
                $('#GroupId').select2({
                    placeholder: "@Localizer["Loading..."]",
                    allowClear: true,
                    language: 'en',
                    //theme: "bootstrap",
                    //dropdownAutoWidth: true,
                    //width: '100%'
                });

                if (checked_ids.length) {
                    $('#GroupId').empty();
                    $.ajax({
                        type: "Post",
                        url: "/Requests/GetGroups",
                        data: { "selectedOrganizations": checked_ids },
                        success: function (data) {
                            $('#GroupId').empty()
                                .select2({
                                    placeholder: "",
                                    allowClear: true,
                                    language: 'en',
                                    //theme: "bootstrap",
                                    //dropdownAutoWidth: true,
                                    //width: '100%'
                                });
                            if (data.length) {
                                $('#GroupId').append("<option value=''></option>");
                                $(data).each(function () {
                                    $('#GroupId').append("<option value='" + this.groupId + "'>" + this.groupName + "</option>");
                                });

                            }
                        }
                    });
                }
                else {
                    //if nothing selected --clear
                    $('#GroupId').empty()
                        .select2({
                            placeholder: "",
                            allowClear: true,
                            language: 'en',
                            //theme: "bootstrap",
                            //dropdownAutoWidth: true,
                            //width: '100%'
                        });
                }

            }

            // JStree loaded Callback - expand and select node
            $treeview.on("ready.jstree", function (e, data) {
                data.instance._open_to(['@ViewBag.CurrentOrganizationId'], true);
                data.instance.select_node(['@ViewBag.CurrentOrganizationId'], true);
                checked_ids = $('#tree').jstree("get_selected");
                table1 = $('#datatable1').DataTable(dataTable1Options);
                getGroup();
            });


            // EXPAND/COLLAPSE TREE
            $("#collapse-all").on("click", function () {
                if ($('.jstree-open', $treeview).length) {
                    $treeview.jstree('close_all');
                } else {
                    $treeview.jstree('open_all');
                }
            });

            $('#tree').on('changed.jstree', function (e, data) {
                e.preventDefault();
                getGroup();
            });

        });
    </script>

}
