@using MEL.Web.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <!-- Bootstrap v4.3.1 + custom theme -->
        <link href="~/css/bootstrap-theme-blue.css" rel="stylesheet" />
        <!-- Fontawesome free v5.10.1 -->
        <link href="~/lib/fontawesome-free/css/all.css" rel="stylesheet" />
        <!-- Waves v0.7.6 -->
        <link href="~/lib/waves/waves.css" rel="stylesheet" />
        <!-- BS-4 toast jquery v0.71 -->
        <link href="~/lib/bs4-toast/dist/toast.min.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <!-- Bootstrap v4.3.1 + custom theme -->
        <link href="~/css/bootstrap-theme-blue.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- Fontawesome free v5.10.1 -->
        <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- Waves v0.7.6 -->
        <link href="~/lib/waves/waves.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- BS-4 toast jquery v0.71 -->
        <link href="~/lib/bs4-toast/dist/toast.min.css" rel="stylesheet" />
    </environment>

    <!-- View Styles -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Application styles v1.0 -->
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow shadow-sm mb-3">
            <div class="container-fluid">
                <a class="navbar-brand mb-0" asp-area="" asp-controller="Home" asp-action="AppStart">
                    <img src="~/images/EDCSquareOnly30.png" class="d-inline-block align-top border border-white mr-2" title="Education Development Center, Inc." />
                    <img src="~/images/MEInsightLogoBlueBg30.png" class="d-inline-block align-middle mr-2" title="@Localizer["A monitoring and evaluation data management system"]" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item @Html.IsSelected(controller: "Home")">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AppStart">@Localizer["Home"]</a>
                        </li>
                        <partial name="_NavigationMenu" />
                    </ul>
                    <ul class="navbar-nav flex-grow-1 flex-sm-row-reverse">
                        <partial name="_NavigationSettingsMenu" />
                        <partial name="_LoginPartial" />
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="col d-flex align-items-center justify-content-start">
                    <span class="navbar-text small text-muted">
                        M&E Insight <text>v</text>@typeof(Startup).Assembly.GetName().Version.ToString() | &copy; @DateTime.Now.Year <a class="text-decoration-none" href="https://www.edc.org" target="_blank">Education Development Center, Inc.</a>
                    </span>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    <partial name="_SelectLanguagePartial" />
                </div>
                <div class="col d-flex align-items-center justify-content-end">
                    <span class="navbar-text small text-muted">
                        @User.Identity.Name - @System.Globalization.CultureInfo.CurrentUICulture
                    </span>
                </div>
            </div>

        </div>
    </footer>

    <environment include="Development">
        <!-- JQuery v3.4.1 -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <!-- Bootstrap v4.3.1 -->
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <!-- Waves v0.7.6 -->
        <script src="~/lib/waves/waves.js"></script>
        <!-- BS-4-toast v0.71 -->
        <script src="~/lib/bs4-toast/dist/toast.min.js"></script>
        <!-- Application JS v1.0 -->
        <script src="~/js/site.js"></script>
        @* development console log *@
        <partial name="_ScriptsPartial" />
    </environment>
    <environment exclude="Development">
        <!-- JQuery v3.4.1 -->
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <!-- Bootstrap v4.3.1 -->
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <!-- Waves v0.7.6 -->
        <script src="~/lib/waves/waves.min.js"></script>
        <!-- BS-4-toast v0.71 -->
        <script src="~/lib/bs4-toast/dist/toast.min.js" asp-append-version="true"></script>
        <!-- Application JS v1.0 -->
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @if (TempData["message"] != null)
    {
        string messageTitle = TempData["messageTitle"].ToString();
        string message = TempData["message"].ToString();
        string messageType = TempData["messageType"].ToString();
        <script>
            $(document).ready(function () {
                //Initialize Bootstrap 4 toast
                $.toast({
                    title: '<i class="fas fa-check-circle"></i> @Localizer[messageTitle]',
                    subtitle: '',
                    content: '@Localizer[message]',
                    type: 'primary',
                    delay: 5000,
                    pause_on_hover: true
                });
            });
        </script>
    }

    <!-- View Scripts -->
    @RenderSection("Scripts", required: false)
</body>
</html>
