<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="M&E Insight, an Open Source Monitoring and Evaluation Data Management System for International Development Projects" />

    <environment include="Development">
        <!-- Bootstrap v4.3.1 custom theme -->
        <link href="~/css/bootstrap-theme-blue.css" rel="stylesheet" />
        <!-- Fontawesome free v5.10.1 -->
        <link href="~/lib/fontawesome-free/css/all.css" rel="stylesheet" />
        <!-- Waves v0.7.6 -->
        <link href="~/lib/waves/waves.css" rel="stylesheet" />
        <!-- BS-4 toast jquery v0.71 -->
        <link href="~/lib/bs4-toast/dist/toast.min.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <!-- Bootstrap v4.3.1 custom theme -->
        <link href="~/css/bootstrap-theme-blue.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- Fontawesome free v5.10.1 -->
        <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- Waves v0.7.6 -->
        <link href="~/lib/waves/waves.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- BS-4 toast jquery v0.71 -->
        <link href="~/lib/bs4-toast/dist/toast.min.css" rel="stylesheet" />
    </environment>

    <!-- View Styles -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Application styles v1.0 -->
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

</head>
<body>
    <div class="container content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="col d-flex align-items-center justify-content-start">
                    <span class="navbar-text small text-muted">
                        M&E Insight <text>v</text>@typeof(Startup).Assembly.GetName().Version.ToString()
                    </span>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
                <div class="col d-flex align-items-center justify-content-end">
                    <span class="navbar-text small text-muted">
                        @System.Globalization.CultureInfo.CurrentUICulture
                    </span>
                </div>
            </div>

        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/waves/waves.js"></script>
        <script src="~/lib/bs4-toast/dist/toast.min.js"></script>
        <script src="~/js/site.js"></script>
        <!-- development console log -->
        @{await Html.RenderPartialAsync("_ScriptsPartial");}
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/lib/waves/waves.min.js"></script>
        <script src="~/lib/bs4-toast/dist/toast.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>
    
    @if (TempData["message"] != null)
    {
        string messageTitle = TempData["messageTitle"].ToString();
        string message = TempData["message"].ToString();
        string messageType = TempData["messageType"].ToString();

        <script>
            $(document).ready(function () {
                //Initialize Bootstrap 4 toast
                $.toast({
                    title: '<i class="fas fa-check-circle"></i> @Localizer[messageTitle]',
                    subtitle: '',
                    content: '@Localizer[message]',
                    type: 'primary',
                    delay: 5000,
                    pause_on_hover: true
                });
            });
        </script>
    }
    
    <!-- View Scripts -->
    @RenderSection("Scripts", required: false)
</body>
</html>
