@model MEInsight.Entities.Reference.RefTLMGroup

@{
    ViewData["Title"] = @Localizer["Edit"].Value + " " + @Localizer["TLM Group"].Value;
}

<h2>@Localizer["Edit"]</h2>

<h4>@Localizer["TLM Group"]</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-8">
        <!--form start-->
        <form asp-action="Edit" id="main-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="ParentId" value="@ViewBag.ParentId" />
            <input type="hidden" asp-for="RefTLMGroupId" />
            
            <div class="mb-3" asp-enabled="TLMGroupCode">
                <!--input start-->
                <label asp-for="TLMGroupCode" class="form-label"></label>
                <input asp-for="TLMGroupCode" autocomplete="off" class="form-control" />
                <span asp-validation-for="TLMGroupCode" class="text-danger"></span>
                <!--input end-->
            </div>
            
            
            <div class="mb-3" asp-enabled="TLMGroup">
                <!--input start-->
                <label asp-for="TLMGroup" class="form-label"></label>
                <input asp-for="TLMGroup" autocomplete="off" class="form-control" />
                <span asp-validation-for="TLMGroup" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <!-- button group start -->
            <div class="mb-3 text-end mt-5">
                <a id="cancelbutton" class="btn btn-secondary me-2" asp-action="Index" asp-route-id="@ViewBag.ParentId">
                    <i class="fas fa-times"></i> @Localizer["Cancel"]
                </a>
                <button id="submitbutton" type="submit" value="Save" class="btn btn-primary ladda-button" data-style="expand-left" data-spinner-color="white">
                    <span class="ladda-label">
                        <i class="fas fa-check"></i> @Localizer["Save"]
                    </span>
                </button>
            </div>
            <!-- button group end -->
        </form>
        <!--form end-->
    </div>
</div>

@section Styles {
    @{await Html.RenderPartialAsync("_EditStylesPartial");}
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_EditScriptsPartial");}
}
