@model MEInsight.Entities.Reference.RefSchoolLocation

@{
    ViewData["Title"] = @Localizer["Create"].Value + " " + @Localizer["School Location"].Value;
}

<h2>@Localizer["Create"]</h2>

<h4>@Localizer["School Location"]</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-8">
        <form asp-action="Create" id="main-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="ParentId" value="@ViewBag.ParentId" />
            
            <div class="mb-3" asp-enabled="SchoolLocationCode">
                <!--input start-->
                <label asp-for="SchoolLocationCode" class="form-label"></label>
                <input asp-for="SchoolLocationCode" autocomplete="off" class="form-control" />
                <span asp-validation-for="SchoolLocationCode" class="text-danger"></span>
                <!--input end-->
            </div>
            
            
            <div class="mb-3" asp-enabled="SchoolLocation">
                <!--input start-->
                <label asp-for="SchoolLocation" class="form-label"></label>
                <input asp-for="SchoolLocation" autocomplete="off" class="form-control" />
                <span asp-validation-for="SchoolLocation" class="text-danger"></span>
                <!--input end-->
            </div>
            
            <!-- button group start -->
            <div class="mb-3 text-end mt-5">
                <a id="cancelbutton" class="btn btn-secondary me-2" asp-action="Index" asp-route-id="@ViewBag.ParentId">
                    <i class="fas fa-times"></i> @Localizer["Cancel"]
                </a>
                <button id="submitbutton" type="submit" value="Create" class="btn btn-primary ladda-button" data-style="expand-left" data-spinner-color="white">
                    <span class="ladda-label">
                        <i class="fas fa-check"></i> @Localizer["Create"]
                    </span>
                </button>
            </div>
            <!-- button group end -->
        </form>
    </div>
</div>

@section Styles {
    @{await Html.RenderPartialAsync("_CreateStylesPartial");}
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CreateScriptsPartial");}
}
