@model MEInsight.Entities.Programs.Group

@{
    ViewData["Title"] = @Localizer["Group"].Value + " " + @Localizer["Details"].Value;
}

<h2>@Localizer["Details"]</h2>

<div>
    <h4>@Localizer["Group"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Closed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Closed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organizations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organizations.OrganizationCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programs.ProgramName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teachers.ParticipantId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GradeLevels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradeLevels.GradeLevel)
        </dd>
        @if (Model.FileName != null)
        {
            <dt class="col-sm-2">
                @Localizer["Document"]
            </dt>
            <dd class="col-sm-10">
                <a target="_blank" href="@Model.Url">@Localizer["Group Attendance"]</a>
            </dd>
        }
    </dl>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedDate?.ToLocalTime().ToString()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Model.ModifiedDate?.ToLocalTime().ToString()
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-sm-5">
        <div class="card ">
            <div class="card-header">
                @Localizer["Upload Group Attendance document"]
            </div>
            <div class="card-body">
                <small class="text-muted card-text">@Localizer["Formats accepted: .pdf .doc .docx .jpeg .png"]</small><br />
                <small class="text-muted card-text">@Localizer["Max file size: 50MB"]</small><br />
                <form method="post" enctype="multipart/form-data" asp-controller="Groups" asp-action="Upload">
                    <input type="hidden" name="id" value="@Model.GroupId" />
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="file" class="custom-file custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                            <label class="custom-file-label" for="inputGroupFile">@Localizer["Choose file"]</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary border" type="submit" id="inputGroupFileAddon"><i class="fas fa-upload"></i> @Localizer["Upload"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <!--footer buttons start-->
    <div class="row mt-5">
        <div class="col">
            <a asp-action="Index" asp-route-id="@ViewBag.ParentId" class="btn btn-secondary me-1"><i class="fas fa-chevron-left"></i> @Localizer["Back to List"]</a>
            <a policy="RequireEditRole" asp-action="Edit" asp-route-id="@Model.GroupId" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> @Localizer["Edit"]</a>
        </div>
        <div class="col text-end"></div>
    </div>
    <!--footer buttons end-->
</div>

@section Styles {

}
@section Scripts {
    @{await Html.RenderPartialAsync("_DetailsScriptsPartial");}
<script>
    $(document).ready(function () {

        // Initialize bs-custom-file-input
        bsCustomFileInput.init()
    });
</script>
}