@model MEInsight.Entities.Programs.Group

@{
    ViewData["Title"] = @Localizer["Edit"].Value + " " + @Localizer["Group"].Value;
}

<h2>@Localizer["Edit"]</h2>

<h4>@Localizer["Group"]</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-8">
        <!--form start-->
        <form asp-action="Edit" id="main-form">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="GroupId" />

            <input type="hidden" asp-for="Url" />
            <input type="hidden" asp-for="FileName" />

            @*[Remote] Validation to validate user input and verify if the Organization Code already exists.*@
            <input type="hidden" value="@Model.GroupCode" name="GroupCodeInitialValue" />

            @* Allows RequireMELRol to change/move the Group to a different Organization *@
            @if (AuthorizationService.AuthorizeAsync(User, "RequireMELRole").GetAwaiter().GetResult().Succeeded)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        @Localizer["M&E Admin Option:"] @Localizer["Change/move Group to a different Organization"]
                    </div>
                    <div class="card-body">
                        <div class="form-group" asp-enabled="OrganizationId">
                            <!--fk select start-->
                            <label asp-for="OrganizationId" class="control-label"></label>
                            <select asp-for="OrganizationId" class="form-control form-select select2" asp-items="ViewBag.OrganizationId">
                            </select>
                            <span asp-validation-for="OrganizationId" class="text-danger"></span>
                            <!--fk select end-->
                        </div>
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="OrganizationId" />
            }

            <div class="form-group required" asp-enabled="GroupCode">
                <!--input start-->
                <label asp-for="GroupCode" class="control-label"></label>
                <i data-content="@Localizer["Recommended: Year-OrganizationCode-LocationCode-Group-Month-Day"]"
                   data-placement="top"
                   data-bs-toggle="popover"
                   data-container="body"
                   style="cursor:pointer;"
                   class="fas fa-info-circle text-muted"
                   data-original-title="" title="" aria-describedby="popover">
                </i>
                <input asp-for="GroupCode" autocomplete="off" class="form-control" />
                <span asp-validation-for="GroupCode" class="text-danger"></span>
                <!--input end-->
            </div>

            <div class="form-group" asp-enabled="GroupName">
                <!--input start-->
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" autocomplete="off" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
                <!--input end-->
            </div>

            <div class="form-group" asp-enabled="ProgramId">
                <!--fk select start-->
                <label asp-for="ProgramId" class="control-label"></label>
                <select asp-for="ProgramId" class="form-control form-select" asp-items="ViewBag.ProgramId">
                </select>
                <span asp-validation-for="ProgramId" class="text-danger"></span>
                <!--fk select end-->
            </div>

            <div class="form-group" asp-enabled="RefGradeLevelId">
                <!--fk select start-->
                <label asp-for="RefGradeLevelId" class="control-label"></label>
                <select asp-for="RefGradeLevelId" class="form-control form-select" asp-items="ViewBag.RefGradeLevelId">
                </select>
                <span asp-validation-for="RefGradeLevelId" class="text-danger"></span>
                <!--fk select end-->
            </div>

            <div class="form-group" asp-enabled="StartDate">
                <!--date start-->
                <label asp-for="StartDate" class="control-label"></label>
                <i data-content="@Localizer["For School Enrollment - set this date to the academic year start date, for Training events - set to start of training"]"
                   data-placement="top"
                   data-bs-toggle="popover"
                   data-container="body"
                   style="cursor:pointer;"
                   class="fas fa-info-circle text-muted"
                   data-original-title="" title="" aria-describedby="popover">
                </i>
                <span class="text-muted small">(@System.Globalization.CultureInfo.CurrentUICulture)</span>
                <!-- use class .date to enable datepicker -->
                <!-- use class .startdate to enable start/end date validation -->
                <div class="input-group date startdate">
                    <input asp-for="StartDate" autocomplete="off" type="text" class="form-control" placeholder="@System.Globalization.DateTimeFormatInfo.CurrentInfo.ShortDatePattern" />
                    <span class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </span>
                </div>
                <span asp-validation-for="StartDate" class="text-danger"></span>
                <!--date end-->
            </div>

            <div class="form-group" asp-enabled="EndDate">
                <!--date start-->
                <label asp-for="EndDate" class="control-label"></label>
                <i data-content="@Localizer["For School Enrollment - set this date to the academic year end date, for Training events - set to end of training"]"
                   data-placement="top"
                   data-bs-toggle="popover"
                   data-container="body"
                   style="cursor:pointer;"
                   class="fas fa-info-circle text-muted"
                   data-original-title="" title="" aria-describedby="popover">
                </i>
                <span class="text-muted small">(@System.Globalization.CultureInfo.CurrentUICulture)</span>
                <!-- use class .date to enable datepicker -->
                <!-- use class .enddate to enable start/end date validation -->
                <div class="input-group date enddate">
                    <input asp-for="EndDate" autocomplete="off" type="text" class="form-control" placeholder="@System.Globalization.DateTimeFormatInfo.CurrentInfo.ShortDatePattern" />
                    <span class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </span>
                </div>
                <span asp-validation-for="EndDate" class="text-danger"></span>
                <!--date end-->
            </div>


            <div class="form-group" asp-enabled="ParticipantId">
                <!--fk select start-->
                <label asp-for="ParticipantId" class="control-label"></label>
                <select asp-for="ParticipantId" class="form-control form-select select2" asp-items="ViewBag.ParticipantId">
                </select>
                <span asp-validation-for="ParticipantId" class="text-danger"></span>
                <!--fk select end-->
            </div>

            <!-- button group start -->
            <div class="form-group text-end mt-5">
                <a id="cancelbutton" class="btn btn-secondary me-2" asp-action="Index" asp-route-id="@ViewBag.ParentId">
                    <i class="fas fa-times"></i> @Localizer["Cancel"]
                </a>
                <button id="submitbutton" type="submit" value="Save" class="btn btn-primary ladda-button" data-style="expand-left" data-spinner-color="white">
                    <span class="ladda-label">
                        <i class="fas fa-check"></i> @Localizer["Save"]
                    </span>
                </button>
            </div>
            <!-- button group end -->
        </form>
        <!--form end-->
    </div>
</div>

@section Styles {
    @{await Html.RenderPartialAsync("_EditStylesPartial");}
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_EditScriptsPartial");}

    <script>
        $(document).ready(function () {

            var cultureInfo = '@System.Globalization.CultureInfo.CurrentCulture.DisplayName';

            //Validate that End Date input is not before Start Date
            function checkDates() {
                var startDate = $('.date.startdate').datepicker('getDate');
                var endDate = $('.date.enddate').datepicker('getDate');
                if (startDate != null && endDate != null) {
                    if (startDate > endDate) {

                        bootbox.alert({
                            title: '@Localizer["Incorrect date"]',
                            message: "@Localizer["The End Date must occur after the Start Date"]",
                            centerVertical: true,
                            backdrop: true,
                            onEscape: false,
                            size: "medium",

                        });
                        $('#EndDate').val('');
                    }
                }
            }

            $('.date.startdate')
                .on("changeDate", function (e) {
                    checkDates();
                });

           $('.date.enddate')
               .on("changeDate", function (e) {
                    checkDates();
                });
        });
    </script>
}
