@model MEInsight.Entities.Core.School

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>School</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsClusterCenter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsClusterCenter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadTeacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadTeacher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolTypes.SchoolType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolLocations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolLocations.SchoolLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolLanguages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolLanguages.SchoolLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolAdministrationTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolAdministrationTypes.SchoolAdministrationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolClusters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolClusters.SchoolCluster)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolStatus.SchoolStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOrganizationUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOrganizationUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentOrganizations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentOrganizations.OrganizationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationTypes.OrganizationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locations.RefLocationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrganizationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
