@model MEInsight.Entities.Reference.RefAssessmentType

@{
    ViewData["Title"] = @Localizer["Assessment Type"].Value + " " + @Localizer["Details"].Value;
}

<h2>@Localizer["Details"]</h2>

<div>
    <h4>@Localizer["Assessment Type"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentTypeCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssessmentTypeCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssessmentType)
        </dd>
    </dl>

    <hr />
    <dl class="row">
    </dl>


</div>
<div>
    <!--footer buttons start-->
    <div class="row mt-5">
        <div class="col">
            <a asp-action="Index" asp-route-id="@ViewBag.ParentId" class="btn btn-secondary mr-1"><i class="fas fa-chevron-left"></i> @Localizer["Back to List"]</a>
            <a policy="RequireEditRole" asp-action="Edit" asp-route-id="@Model.RefAssessmentTypeId" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> @Localizer["Edit"]</a>
        </div>
        <div class="col text-right"></div>
    </div>
    <!--footer buttons end-->
</div>
